{% if page.series %}
<div class="embeded-series-wrapper">
    {% assign spinOff = "" %}
    {% assign mainPart = "" %}
    {% for post in site.posts %}
        {% if post.series == page.series %}
            {% if post.series_episode != "Spin-off" %}
                {% assign postInfo = post.topic | append: '_' %}
                {% assign postInfo = postInfo | append: post.url | append: '_' %}
                {% assign postInfo = postInfo | append: post.series_episode %}
                {% assign mainPart = mainPart | append: postInfo | append: '|' %}
            {% else %}
                {% assign postInfo = post.topic | append: '_' %}
                {% assign postInfo = postInfo | append: post.url | append: '_' %}
                {% assign postInfo = postInfo | append: post.series_episode | append: '|' %}
                {% assign spinOff = spinOff | append: postInfo %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% assign mainPart = mainPart | split:'|' | sort %}
    <div class="header">บทความทั้งหมดเกี่ยวกับ <span>{{ page.series }}</span></div>
    <div class="series-wrapper">
        {% for item in mainPart %}
            {% assign postInfo = item | split: '_' %}
                <div>
                    <a href="{{ site.baseurl }}{{postInfo[1]}}" target="_blank">Part {{ postInfo[2] }} {{ postInfo [0]}}</a>
                </div>
        {% endfor %}
    </div>

    {% assign spinOff = spinOff | split:'|' | sort %}
    {% if spinOff.size > 0 %}
    <div class="series-wrapper" style="margin-top: 20px;">
        {% for item in spinOff %}
            {% assign postInfo = item | split: '_' %}
                <div>
                    <a href="{{ site.baseurl }}{{postInfo[1]}}" target="_blank">{{ postInfo [0]}}</a>
                </div>
        {% endfor %}
    </div>
    {% endif %}
    
</div>

{% endif %}