<footer class="site-footer">
    <div>
        <ul class="social-media">
            <li>
                <a href="{{ site.stack_overflow_profile }}" target="_blank">
                    <i class="fa fa-stack-overflow"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/{{ site.github_username }}" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a href="mailto:sr.pankamol@gmail.com?Subject=Hey!%20I%20found%20you%20from%20your%20blog.">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="index-link">
        <div>
            <a class="about" href="{{ site.baseurl }}/">Home</a>
        </div>
        <div>
            <a class="about" href="{{ site.baseurl }}/series/">Series</a>
        </div>
        <div>
            <a class="about" href="{{ site.baseurl }}/tags/">Tags</a>
        </div>
        <div>
            <a class="about" href="{{ site.baseurl }}/about/">About</a>
        </div>
    </div>
</footer>