<footer class="site-footer">
    <div>
        <ul class="social-media">
            <li>
                <a href="{{ site.stack_overflow_profile }}" target="_blank">
                    <i class="fa fa-stack-overflow"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/{{ site.github_username }}" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <a class="about" href="/about/">About</a>
    </div>
</footer>