---
layout: default
---

<div class="home">

  {%- if site.posts.size > 0 -%}
    <!-- <h1 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h1> -->
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-link-wrapper">
        <div class="post-link-div">
          <a class="post-link" href="{{ post.url | relative_url }}">
            <div class="topic-wrapper">
                {%- if post.series_episode -%}
                  {%- if post.series_episode == "Spin-off" -%}
                    <div style="margin-right: 10px;"><span class="part-wrapper">Spin-off</span></div>
                  {% else %}
                    <div style="margin-right: 10px;"><span class="part-wrapper">Part {{post.series_episode}} </span></div>
                  {%- endif -%}
                {%- endif -%}
                <div><span>{{ post.topic | escape }}</span></div>
                <span class="post-meta mobile">{{ post.date | date: '%d %B %Y' }}</span>
              </div>
          </a>
          <div class="span-wrapper">
            {%- for tag in post.tags -%}
            <span><a class="about" href="{{ site.baseurl }}/tags#{{tag}}">{{ tag }}</a></span>
            {%- endfor -%}
          </div>
        </div>
        <div style="min-width: 120px;"><div class="post-meta desktop">{{ post.date | date: '%d %B %Y' }}</div></div>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
