---
layout: default
---

<div class="home">

  {%- if site.posts.size > 0 -%}
    <!-- <h1 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h1> -->
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-link-wrapper">
        <div>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <div>
                {%- if post.series_episode -%}
                <span>Part {{post.series_episode}} </span>
                {%- endif -%}
                <span>{{ post.topic | escape }}</span>
              </div>
          </a>
          <div class="span-wrapper">
            {%- for tag in post.tags -%}
            <span><a class="about" href="{{ site.baseurl }}/tags#{{tag}}">{{ tag }}</a></span>
            {%- endfor -%}
          </div>
        </div>
        <div class="post-meta">{{ post.date | date: '%d %B %Y' }}</div>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
