---
layout: default
---
<div class="post-body">
    {{content}}
    {% include embeded-series.html %}
</div>

<div class="post-footer-wrapper">
    <div class="back-button">
        <a href="{{ site.baseurl }}/">
            <i class="fa fa-chevron-left"></i> Back
        </a>
    </div>  
    <div class="date-wrapper">
        <div class="date">
            <span class="post-date">วันที่เริ่มเขียน: </span><span>{{ page.createdDate | date: '%d %B %Y %k:%M' }}</span>
        </div>
        <div class="date">
            <span class="post-date">อัพเดตล่าสุด: </span><span>{{ page.lastModifiedDate | date: '%d %B %Y %k:%M' }}</span>
        </div>
    </div>
</div>
