---
layout: default
---
<div>

{% assign allSeries = "" %}
{% for post in site.posts %}
    {% if post.series %}
        {% assign seriesName = post.series | append:'|' %}
        {% unless allSeries contains seriesName %}
            {% assign allSeries = allSeries | append: seriesName %}
        {% endunless %}
    {% endif %}
{% endfor %}

{% assign allSeries = allSeries | split:'|' | sort %}
{% for series in allSeries %}
<div>
    <span>{{series}}</span>
    {% for post in site.posts %}
        {% if post.series == series %}
        <div>
            {{ post.topic }}
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}

</div>