---
layout: default
---
<div>

{% assign allSeries = "" %}
{% for post in site.posts %}
    {% if post.series %}
        {% assign seriesName = post.series | append:'|' %}
        {% unless allSeries contains seriesName %}
            {% assign allSeries = allSeries | append: seriesName %}
        {% endunless %}
    {% endif %}
{% endfor %}

{% assign allSeries = allSeries | split:'|' | sort %}
{% for series in allSeries %}
    {% assign spinOff = "" %}
    <div class="series-wrapper">
        <h2><span>{{series}}</span></h2>
        <h3>Main Part</h3>
        {% for post in site.posts %}
            {% if post.series == series %}
                {% if post.series_episode != "Spin-off" %}
                    <div>
                        <a href="{{post.url}}">Part: {{post.series_episode}}: {{ post.topic }}</a>
                    </div>
                {% else %}
                    {% assign postName = post.topic | append: '|' %}
                    {% assign spinOff = spinOff | append: postName %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    {% assign spinOff = spinOff | split:'|' | sort %}
    {% if spinOff.size > 0 %}
    <div class="series-wrapper">
        <h3>Spin off</h3>
        
        {% for item in spinOff %}
            <div>{{item}}</div>
        {% endfor %}
    </div>
    {% endif %}
{% endfor %}

</div>