---
layout: default
---
<div>

{% assign allSeries = "" %}
{% for post in site.posts %}
    {% if post.series %}
        {% assign seriesName = post.series | append:'|' %}
        {% unless allSeries contains seriesName %}
            {% assign allSeries = allSeries | append: seriesName %}
        {% endunless %}
    {% endif %}
{% endfor %}

{% assign allSeries = allSeries | split:'|' | sort %}
{% for series in allSeries %}
    <div class="series-wrapper">
        <h2><span>{{series}}</span></h2>
        {% for post in site.posts %}
            {% if post.series == series %}
            <div>
                <a>{{ post.topic }}</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}

</div>